body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ec3030;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #cac2b6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .livros-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  .livro {
    background-color: #fcfcfc;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 0 8px rgba(0, 253, 55, 0.1);
  }
  
  .livro img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  a.button:hover, button:hover {
    background-color: #45a049;
  }
  