:root{
-corPrimaria:#0725EB;
-corSecundaria:#4079C4;
-corTerecearia:#E5E7E6;
-cinza:#585858;

}

header{
 background-color: var(-corPrimaria);

}


h1,h2,h3,h4,h5,h6{
    color: var(-corSecundaria)

}