body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f9f9f9;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #f0c040;
}

.logo {
    width: 190px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f0c040;
    font-weight: bold;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.produtos-lista {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.produtos-lista li {
    margin: 10px 0;
    font-size: 1.1em;
}

footer {
    background-color: #c740f0;
    text-align: center;
    padding: 15px;
    color: #fff;
}
