*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#produtos{
 display: flex;
 gap: 20px;
 flex-wrap: wrap;
}

.card-produtos{
    width: 50px;
   
}
